extends layout

block content
  .content
    table(style='width:100%;table-layout:fixed', border='0')

          tr
            td(style="vertical-align: top;text-align: left; max-width:40%; padding: 10px;")
                if error
                  h3(style="color: red; margin-left: 0px;padding-left: 0px !important;") Error
                  pre
                      code(id="error_details" class="prettyprint" style="word-break: break-all; white-space: normal;") error: #{error} #{response.statusCode} <br> error_description: #{error_description}


                if access_token || id_token
                    table(id="tokens")
                        if id_token
                            -
                                id_token_decoded = parseJwt(id_token);
                            tr
                                td
                                    a(href="#" alt="copy id_token", id="id_token_button" onclick="copyToClipboard('#id_token')" )
                                     img(height="40px",src=`/images/icon-id-token.svg`)
                                td
                                    pre
                                        code(id="id_token" class="prettyprint" style="word-break: break-all; white-space: normal;") #{id_token}
                            tr
                                td
                                td
                                    pre
                                        code(id="id_token_decoded" class="prettyprint" style="word-break: break-all; white-space: normal;") #{JSON.stringify(id_token_decoded)}

                        if access_token
                            -
                                access_token_decoded = parseJwt(access_token);
                            tr
                                td
                                    a(href="#" alt="copy access_token", id="access_token_button" onclick="copyToClipboard('#access_token')" )
                                        img(height="40px",src=`/images/icon-access-token.svg`)
                                td
                                    pre
                                        code(id="access_token" class="prettyprint" style="word-break: break-all; white-space: normal;") #{access_token}
                            tr
                                td
                                td
                                    pre
                                        code(id="access_token_decoded" class="prettyprint" style="word-break: break-all; white-space: normal;") #{JSON.stringify(access_token_decoded)}
                        if refresh_token
                            tr
                                td
                                    a(href="#" alt="copy refresh_token", id="refresh_token_button" onclick="copyToClipboard('#refresh_token')" )
                                        img(height="40px",src=`/images/icon-refresh-token.svg`)
                                td
                                    pre
                                        code(id="refresh_token" style="word-break: break-all; white-space: normal;") #{refresh_token}


                else if username

                        if (send == "code")
                            p get the OTP from your email / phone
                            form(action="/passwordless" method="POST" id="token" name="token")
                                table(border='0' border-collapse: collapse;)
                                      tr
                                        td
                                            p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='Your applications client ID') client_id:
                                        td
                                            input(type="text" required name="client_id" id="client_id" style="width:400px" value=process.env.CLIENT_ID)
                                      tr
                                        td
                                            p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='Your applications Client Secret.') client_secret:
                                        td
                                            input(type="text" required name="client_secret" id="client_secret" style="width:400px" value=process.env.CLIENT_SECRET)
                                            input(type="hidden" name="user_ip" id="user_ip" style="width:400px" value="")
                                      tr
                                        td
                                            p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='It should be http://auth0.com/oauth/grant-type/passwordless/otp') grant_type:
                                        td
                                            select(name="grant_type" id="grant_type" style="width:400px")
                                              option(value="http://auth0.com/oauth/grant-type/passwordless/otp") http://auth0.com/oauth/grant-type/passwordless/otp
                                      tr
                                        td
                                            p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='the identifier of the API who the access_token is for') audience:
                                        td
                                            input(type="text" required name="audience" id="audience" style="width:400px" value=process.env.AUDIENCE)
                                      tr
                                        td
                                            p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='include offline_access to request refresh_token. Add read:grants and/or write:grants for testing RBAC') scope:
                                        td
                                            input(type="text" name="scope" id="scope" style="width:400px" value="openid email profile offline_access")
                                      tr
                                        td
                                            p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='authenticate passwordless via email or sms') realm:
                                        td
                                            input(type="text" required name="realm" id="realm" style="width:400px" value=realm)
                                      tr
                                        td
                                            p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='The users phone number if realm is sms, or the users email if realm is email') username:
                                        td
                                            input(type="text" required name="username" id="username" style="width:400px" value=username)
                                      tr
                                        td
                                            p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='the otp sent to the user') otp:
                                        td
                                            input(type="text" required name="otp" id="otp" style="width:400px" value="")

                                input(type="submit")

                        else
                            p check your email and find the magic link to click

                else if !access_token

                    form(action="/passwordless" method="POST" name="start" id="start")

                        table(border='0' border-collapse: collapse;)
                              tr
                                td
                                    p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='Your applications client ID') client_id:
                                td
                                    input(type="text" required name="client_id" id="client_id" style="width:400px" value=process.env.CLIENT_ID)
                              tr
                                td
                                    p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='Your applications Client Secret.') client_secret:
                                td
                                    input(type="text" required name="client_secret" id="client_secret" style="width:400px" value=process.env.CLIENT_SECRET)
                                    input(type="hidden" name="user_ip" id="user_ip" style="width:400px" value="")
                              tr
                                td
                                    p redirect_uri:
                                td
                                    input(type="text" name="redirect_uri" id="redirect_uri" style="width:400px" value="http://localhost:3001/passwordless")
                              tr
                                td
                                    p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='the identifier of the API who the access_token is for') audience:
                                td
                                    input(type="text" required name="audience" id="audience" style="width:400px" value=process.env.AUDIENCE)
                              tr
                                td
                                    p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='include offline_access to request refresh_token. Add read:grants and/or write:grants for testing RBAC') scope:
                                td
                                    input(type="text" name="scope" id="scope" style="width:400px" value="openid email profile offline_access")
                              tr
                                td
                                    p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='authenticate passwordless via email or sms') connection:
                                td
                                    select(name="connection" required id="connection" style="width:400px")
                                      option(value="email") email
                                      option(value="sms") sms
                              tr
                                td
                                    p(data-toggle='tooltip', data-placement='right', title='send via link or code') send:
                                td
                                    select(name="send" id="send" style="width:400px")
                                      option(value="code") code
                                      option(value="link") link
                              tr
                                td
                                    p(data-toggle='tooltip', data-placement='right', title='populate this if using email connection') email:
                                td
                                    input(type="text" name="email" id="email" style="width:400px" value="user@example.org")
                              tr
                                td
                                    p(data-toggle='tooltip', data-placement='right', title='populate this if using sms connection') phone_number:
                                td
                                    input(type="text" name="phone_number" id="phone_number" style="width:400px" value="")
                              tr
                                td
                                    p response_mode:
                                td
                                    select(name="response_mode" id="response_mode" style="width:400px")
                                      option(value=form_post) form_post
                                      option(value=fragment) fragment
                              tr
                                td
                                    p(class="required tooltip" data-toggle='tooltip', data-placement='right', title='This will specify the type of token you will receive at the end of the flow. Use token to get only an Access Token, id_token to get only an ID Token (if you dont plan on accessing an API), or id_token token to get both an ID Token and an Access Token.') response_type:
                                td
                                  select(name="response_type" required id="response_type" style="width:400px")
                                    option(value=token id_token) token id_token
                                    option(value=id_token) id_token
                                    option(value=id_token) token
                              tr
                                td
                                    p(class="tooltip" data-toggle='tooltip', data-placement='right', title='An opaque value the clients adds to the initial request that Auth0 includes when redirecting the back to the client. This value must be used by the client to prevent CSRF attacks.') state:
                                td
                                    input(type="text" name="state" id="state" style="width:400px" value="somestatevalue")
                              tr
                                td
                                    p(class="tooltip" data-toggle='tooltip', data-placement='right', title='A string value which will be included in the ID Token response from Auth0, used to prevent token replay attacks. It is required for response_type=id_token token.') nonce:
                                td
                                    input(type="text" name="nonce" id="nonce" style="width:400px" value="nonce")

                        input(type="submit")



            td(style="vertical-align: top;text-align: left; max-width:60%; padding: 10px;")
                h1 passwordless
                p
                    a(href="" target="_blank") Learn more.

    table(style='width:100%;table-layout:fixed', border='0')
          tr
            td

                div(id="request_details")

                    if(error)
                        h3(style="margin-left: 0px;padding-left: 0px !important;") + Error details
                        pre
                            code(id="error_details" class="prettyprint" style="word-break: break-all; white-space: normal;") error: #{error} <br> error_description: #{error_description} <br> mfa_token: #{JSON.stringify(mfa_token)}

                    if(request)
                        h3(style="margin-left: 0px;padding-left: 0px !important;") + Request details
                        pre
                            code(id="request_url" class="prettyprint" style="word-break: break-all; white-space: normal;") URL: #{request.uri} <br> Method: #{request.method} <br> Body: #{JSON.stringify(request.json)} <br> Headers: #{JSON.stringify(request.headers)}

                    if(response)
                        h3(style="margin-left: 0px;padding-left: 0px !important;") + Response details
                        pre
                            code(id="response_url" class="prettyprint" style="word-break: break-all; white-space: normal;") Body: #{JSON.stringify(response.body)} <br> Status Code : #{response.statusCode} <br> Headers : #{JSON.stringify(response.headers)}



