extends layout

block content

  .content
    table(style='width:100%;table-layout:fixed', border='0')

          tr
            td(style="vertical-align: top;text-align: left; max-width:40%; padding: 10px;")

                if error
                    h3(style="color: red; margin-left: 0px;padding-left: 0px !important;") Error
                    pre
                        code(id="error_details" class="prettyprint" style="word-break: break-all; white-space: normal;") error: #{error} #{response.statusCode} <br> error_description: #{error_description}



                if access_token
                  -
                    access_token_decoded = parseJwt(access_token);
                      var user_info_endpoint = access_token_decoded.aud[1];
                      const dateTwo = new Date(0);
                      dateTwo.setUTCSeconds(access_token_decoded.exp);
                      const seconds = ((new Date(dateTwo.valueOf()) - new Date())/ 1000);
                      var expiration = "Access Token Expires in " + seconds + " seconds at " + new Date(dateTwo.valueOf());
                      if (seconds < 0) {
                        expiration = "Access Token has expired at " + new Date(dateTwo.valueOf()) + "";
                      }


                  p #{expiration}
                    table(id="tokens")
                        tr
                            td
                                a(href="#" alt="copy access_token", id="access_token_button" onclick="copyToClipboard('#access_token')" )
                                    img(height="40px",src=`/images/icon-access-token.svg`)
                            td
                                pre
                                    code(id="access_token" class="prettyprint" style="word-break: break-all; white-space: normal;") #{access_token}
                        tr
                            td
                            td
                                pre
                                    code(id="access_token_decoded" class="prettyprint" style="word-break: break-all; white-space: normal;") #{JSON.stringify(access_token_decoded)}



                    form(action="/call_api" method="POST")

                        table(border='0' border-collapse: collapse;)
                              tr
                                td
                                    p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='obtain an access_token from one of the authentication flows') access_token:
                                td
                                    input(type="text" required name="access_token" id="access_token" style="width:400px" value=access_token)
                              tr
                                td
                                    p(class="required tooltip", data-toggle='tooltip', data-placement='right', title='the user info endpoint to call') user_info_endpoint:
                                td
                                    textarea(name="user_info_endpoint" id="user_info_endpoint" style="width:100%" value=user_info_endpoint) #{user_info_endpoint}

                        input(type="submit")
                else
                    p Request an access_token from one of the authentication flows to call the API.

            td(style="vertical-align: top;text-align: left; max-width:60%; padding: 10px;")
                h1 Call user-info with the access_token

                if data
                    h2 Data returned from API
                    p data #{data}

    table(style='width:100%;table-layout:fixed', border='0')
          tr
            td

                div(id="request_details")

                    if(error)
                        h3(style="margin-left: 0px;padding-left: 0px !important;") + Error details
                        pre
                            code(id="error_details" class="prettyprint" style="word-break: break-all; white-space: normal;") error: #{error} <br> error_description: #{error_description} <br> mfa_token: #{JSON.stringify(mfa_token)}

                    if(request)
                        h3(style="margin-left: 0px;padding-left: 0px !important;") + Request details
                        pre
                            code(id="request_url" class="prettyprint" style="word-break: break-all; white-space: normal;") URL: #{request.uri} <br> Method: #{request.method} <br> Body: #{JSON.stringify(request.form)} <br> Headers: #{JSON.stringify(request.headers)}

                    if(response)
                        h3(style="margin-left: 0px;padding-left: 0px !important;") + Response details
                        pre
                            code(id="response_url" class="prettyprint" style="word-break: break-all; white-space: normal;") Body: #{JSON.stringify(response.body)} <br> Status Code : #{response.statusCode} <br> Headers : #{JSON.stringify(response.headers)}